.NewPost {
    position: absolute;
    width: 95%;
    margin: 10px auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 10px;
    border-radius: 4px;
    border: 1px solid grey;
    box-shadow: 0 0 10px grey;
}

.Header {
    font-size: 25px;
    padding: 0;
    margin: 0 0 15px 0;
    color: #3A3B3C;
}

.Name {
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
}

.Post {
    font-family: Arial;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    overflow: auto;
    min-height: 50px;
    display: inline-block;
    box-sizing: border-box;
}

.Submit {
    float: right;
    background-color: #4169E1;
    color: white;
    border-radius: 2px;
    border: 1px solid grey;
    padding: 7px 12px;
}

.Submit:hover {
    background-color: #0000FF;
    cursor: pointer;
}