.NameInput {
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
}

.PostInput {
    font-family: Arial;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    overflow: auto;
    min-height: 50px;
    display: inline-block;
    box-sizing: border-box;
}

.SubmitBtn {
    margin: 0;
    position: relative;
    float: right;
    background-color: #4169E1;
    color: white;
    border-radius: 2px;
    border: 1px solid grey;
    padding: 7px 12px;
}

.SubmitBtn:hover:not([disabled]) {
    background-color: #0000FF;
    cursor: pointer;
}

.SubmitBtn:disabled {
    opacity: 70%;
}